* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/resort__3.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 20px;
    padding: 0 10px;
    background-color: rgba(181, 152, 112, 0.35);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.18);
    border-radius: 2px;
}

header ul {
    display: flex;
    align-items: baseline;
    gap: 30px;
    list-style: none;
    padding-top: 5px;
}

header .options a {
    position: relative;
    text-decoration: none;
    color: #FBFBFC;
    opacity: 1.01;
}


header img {
    height: 115px;
    width: 115px;
}

.options {
    font-size: 22px;
    font-weight: 850;
    font-family: 'Times New Roman', Times, serif;
}

.options a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.4s ease;
}

.options a:hover::after {
    width: 100%;
}

header button {
    padding: 8px 15px;
    font-size: 21px;
    text-align: center;
    border: none ;
    outline: none;
    border-radius: 4px;
    border: 1.5px solid rgba(0, 0, 0, 0.523);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

header button:hover {
    color: rgb(46, 159, 174);
    cursor: pointer;
}

header button:before {
    content: '';
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    background-color: rgba(115, 199, 220, 0.805);
}

header button:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}


@media (max-width: 760px) {
header {
    flex-direction: column;
    padding: 10px;
}
header ul {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}
header ul a {
    font-size: 18px;
}
header img {
    height: 80px;
    width: 80px;
    margin-left: 0;
    margin-right: 20px;
}
header button {
    margin-right: 0;
    margin-top: 10px;
}
}

@media screen and (max-width: 480px){
header img {
    height: 60px;
    width: 60px;
}
header button {
    font-size: 18px;
    padding: 6px 12px;
}
}