@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Marcellus&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    font-family:  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
                    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.front-image {
    background-image: url('../img/img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0;
    padding: 0 10px;
    background-color: rgba(181, 152, 112, 0.35);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.18);
    border-radius: 0 0 6px 6px;
}

header ul {
    display: flex;
    align-items: baseline;
    gap: 30px;
    list-style: none;
    padding-top: 5px;
}

header .options a {
    position: relative;
    text-decoration: none;
    color: #FBFBFC;
    opacity: 1.01;
}


header img {
    height: 115px;
    width: 115px;
}

.options {
    font-size: 22px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}

.options a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.4s ease;
}

.options a:hover::after {
    width: 100%;
}

header button {
    padding: 10px 15px;
    color: rgba(0, 0, 0, 0.871);
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    border: none ;
    outline: none;
    border-radius: 8px;
    border: none;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

header button:hover {
    color: rgba(255, 255, 255, 0.841);
    
    cursor: pointer;
}

header button:before {
    content: '';
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    background-color: rgba(11, 11, 11, 0.8);
}

header button:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    border-radius: 8px;
}

.heading-title,
.title-para {
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    animation: slideIn 2s ease-out forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(  20px);
        opacity: 0;
    }
    to {
        transform: translate(0);
        opacity: 1;
    }
}
.heading-title h1{
    font-family: "Marcellus", Sans-serif;
    font-size: 82px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 4px;
}

.heading-title p {
    font-family: "Marcellus", Sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.intro {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 120px 25px 120px 25px;
}
.intro-names {
    align-content: center;
    align-items: center;
}
.intro .group-name {
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 15px;
    font-style: italic;
    color: #111111;
}

.intro .resort-name {
    font-family: "Marcellus", Sans-serif;
    font-size: 45px;
    font-weight: 400;
    color: #000000;
    line-height: 1;
}

.intro .intro-para {
    flex: 0.7;
    font-family: "Lato", Sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: justify ;
    color: #000000;
}










@media (max-width: 760px) {
header {
    flex-direction: column;
    padding: 10px;
}
header ul {
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}
header ul a {
    font-size: 18px;
}
header img {
    height: 80px;
    width: 80px;
    margin-left: 0;
    margin-right: 20px;
}
header button {
    margin-right: 0;
    margin-top: 10px;
}
}

@media screen and (max-width: 480px){
header img {
    height: 60px;
    width: 60px;
}
header button {
    font-size: 18px;
    padding: 6px 12px;
}
}