@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Marcellus&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family:  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
                    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.front-image {
    background: #cccc;
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 0;
    padding: 0 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.18);
    border-radius: 0 0 6px 6px;
}

header ul {
    display: flex;
    align-items: baseline;
    gap: 30px;
    list-style: none;
    padding-top: 5px;
}

header .options a {
    position: relative;
    text-decoration: none;
    color: #FBFBFC;
    opacity: 1.01;
}


header img {
    height: 115px;
    width: 115px;
}

.options {
    font-size: 22px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
}

.options a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.4s ease;
}

.options a:hover::after {
    width: 100%;
}

header button {
    padding: 10px 15px;
    color: rgba(0, 0, 0, 0.871);
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    border: none ;
    outline: none;
    border-radius: 8px;
    border: none;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}

header button:hover {
    transition:0.4s ease;
    color: rgba(255, 255, 255, 0.841);
}

header button:before {
    content: '';
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    background-color: rgba(11, 11, 11, 0.8);
}

header button:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    border-radius: 8px;
}
